{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Analista</title>
    <link rel="stylesheet" href="" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
          <div
            class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top"
          >
            <a
              href=""
              class="d-block p-3 link-dark text-decoration-none"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Icon-only"
            >
              <ion-icon name="code-slash-outline"></ion-icon>
            </a>
            <ul
              class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center"
            >
              <li class="nav-item">
                <a
                  href="{% url 'analista' %}"
                  class="nav-link py-3 px-2"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Home"
                >
                  <ion-icon name="home-outline"></ion-icon>
                </a>
              </li>
              <li>
                <a
                  href="{% url 'analista_projects' %}"
                  class="nav-link py-3 px-2"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Projects"
                >
                  <ion-icon name="apps-outline"></ion-icon>
                </a>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <a
              href=""
              class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
              id="dropdownUser3"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <ion-icon name="person-circle-outline"></ion-icon>
            </a>
            <ul
              class="dropdown-menu text-small shadow"
              aria-labelledby="dropdownUser3"
            >
              <li>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm p-3 min-vh-100">
          <!-- content -->
          <div class="row">
            <div class="col-sm-auto my-1">
              <button class="btn btn-light text-decoration-none">
                <a
                  href="{% url 'analista_projects' %}"
                  class="text-decoration-none text-dark"
                >
                  <ion-icon name="arrow-back-outline"></ion-icon>
                  <span>Atras</span>
                </a>
              </button>
            </div>
          </div>

          {% block content %}
          <div class="container my-5">
            <h2 class="my-1">
              <strong>{{project.name}}</strong>
            </h2>
            <div class="container my-2">
              <span>Description:</span> <br />
              {{project.description}}
            </div>
          </div>

          <div class="container my-2">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  Casos
                </a>
              </li>
            </ul>
          </div>
          <div class="container">
            {% if not casos %}
            <button
              class="btn btn-primary text-decoration-none"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#myModal"
            >
              <ion-icon name="add-outline"></ion-icon>
              <span>caso</span>
            </button>
            {% endif %}
          </div>

          <!-- Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog modal-dialog-centered modal-fullscreen">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Modal Heading</h4>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <form method="POST">
                    {% csrf_token %}
                    <div class="row">{{ casoform|crispy }}</div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary">
                        Guardar
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              {% autoescape off %}
              <div class="col-sm-6">{{graf}}</div>
              {% endautoescape %}
              <div class="col-sm-6">
                <div class="d-flex justify-content-between">
                  <h2>Casos</h2>
                  <button
                    class="btn btn-primary text-decoration-none"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#myModal"
                  >
                    <ion-icon name="add-outline"></ion-icon>
                    <span>caso</span>
                  </button>
                </div>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Titulo</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  {% for caso in casos %}
                  <tbody>
                    <tr>
                      <td>
                        <a
                          href="{% url 'caso' caso.id %}"
                          class="text-dark text-decoration-none"
                        >
                          {{caso.titulo}}
                        </a>
                      </td>
                      <td>{{caso.estado_display}}</td>
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>

    <!-- Script Bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- IONicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
