{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{request.user}}</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-auto bg-light sticky-top">
          {% if request.user.groups.all.0.name == 'analista' %}
          <div
            class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top"
            style="height: 100vh"
          >
            <a
              href=""
              class="d-block p-3 link-dark text-decoration-none"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Icon-only"
            >
              <ion-icon name="code-slash-outline"></ion-icon>
            </a>
            <ul
              class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center"
            >
              <li class="nav-item">
                <a
                  href="{% url 'analista' %}"
                  class="nav-link py-3 px-2"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Home"
                >
                  <ion-icon name="home-outline"></ion-icon>
                </a>
              </li>
              <li>
                <a
                  href="{% url 'analista_projects' %}"
                  class="nav-link py-3 px-2"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Projects"
                >
                <ion-icon name="albums-outline"></ion-icon>
                </a>
              </li>
            </ul>
          </div>
          {% else %}
          <div
            class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top"
          >
            <a
              href=""
              class="d-block p-3 link-dark text-decoration-none"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Icon-only"
            >
              <ion-icon name="code-slash-outline"></ion-icon>
            </a>
            <ul
              class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center"
            >
              <li class="nav-item">
                <a
                  href="{% url 'adminwindow' %}"
                  class="nav-link py-3 px-2"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Home"
                >
                  <ion-icon name="home-outline"></ion-icon>
                </a>
              </li>
              <li>
                <a
                  href="{% url 'projects' %}"
                  class="nav-link py-3 px-2"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Projects"
                >
                <ion-icon name="albums-outline"></ion-icon>
                </a>
              </li>
              <li>
                <a
                  href="{% url 'users' %}"
                  class="nav-link py-3 px-2"
                  title=""
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-original-title="Users"
                >
                  <ion-icon name="people-outline"></ion-icon>
                </a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>

        <div class="col-sm p-3 min-vh-100">
          <!-- content -->
          <div class="row">
            <div class="col-sm-auto my-1">
              <button class="btn btn-dark text-decoration-none">
                {% if request.user.groups.all.0.name == 'dev' %}
                <a
                  href="#"
                  class="text-decoration-none text-light"
                  ><ion-icon name="arrow-back-outline"></ion-icon>
                  <span>Atras</span>
                </a>
                {% elif request.user.groups.all.0.name == 'analista' %}
                <a
                  href="{% url 'analista_project' caso.project.id %}"
                  class="text-decoration-none text-light"
                  ><ion-icon name="arrow-back-outline"></ion-icon>
                  <span>Atras</span>
                </a>
                {% else %}
                <a
                  href="{% url 'project' caso.project.id %}"
                  class="text-decoration-none text-light"
                  ><ion-icon name="arrow-back-outline"></ion-icon>
                  <span>Atras</span>
                </a>
                {% endif %}
              </button>
            </div>

            <div class="container my-2">
              {% block content %}
              <h3>{{caso.titulo}}</h3>
              <div class="card mb-4">
                <div class="card-body d-flex justify-content-between">
                  <div class="d-flex flex-column">
                    <h6 class="card-title"><strong>Tipo</strong></h6>
                    <p class="card-text">{{caso.tipo_display}}</p>
                  </div>
                  <div class="d-flex flex-column">
                    <h6 class="card-title">
                      <strong>
                        <label for="estado">Estado</label>
                      </strong>
                    </h6>
                    <form method="POST" action="{% url 'caso' caso.id %}">
                      {% csrf_token %}
                      <select name="estado" id="estado" class="form-select" onchange="this.form.submit()">
                        {% for key, value in caso.estado_caso %}
                        <option value="{{ key }}" {% if key == caso.estado %} selected {% endif %}>
                          {{ value }}
                        </option>
                        {% endfor %}
                      </select>
                    </form>
                  </div>
                  <div class="d-flex flex-column">
                    <h6 class="card-title"><strong>Prioridad</strong></h6>
                    <form method="POST" action="{% url 'caso' caso.id %}">
                      {% csrf_token %}
                      <select name="prioridad" id="prioridad" class="form-select" onchange="this.form.submit()">
                        {% for key, value in caso.prioridad_caso %}
                        <option value="{{ key }}" {% if key == caso.prioridad %} selected {% endif %}>
                          {{ value }}
                        </option>
                        {% endfor %}
                      </select>
                    </form>
                  </div>
                  <div class="d-flex flex-column">
                    <h6 class="card-title"><strong>Estimado</strong></h6>
                    <p class="card-text">{{caso.estimado}}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                      <h6 class="card-title"><strong>Pasos</strong></h6>
                      <p class="card-text flex-grow-1 overflow-auto">
                        {{caso.pasos}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                      <h6 class="card-title">
                        <strong>Resultados Esperados</strong>
                      </h6>
                      <p class="card-text flex-grow-1 overflow-auto">
                        {{caso.resultados_esperados}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                      <h6 class="card-title"><strong>Precondicion</strong></h6>
                      <p class="card-text flex-grow-1 overflow-auto">
                        {{caso.precondicion}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                      <h6 class="card-title"><strong>Responsable</strong></h6>
                      {{caso.user.username}}
                      <!-- 
                      <form action="{% url 'caso' caso.id %}" method="POST">
                        {% csrf_token %}
                        <select name="user" id="user" class="form-select" onchange="this.form.submit()">
                          {% for user in users %}
                          <option value="{{user.id}}" {% if user == caso.user %} selected {% endif %}>
                            {{user.username}}
                          </option>
                          {% endfor %}
                        </select>
                      </form>
                      -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <form method="POST">
                  {% csrf_token %} <strong>{{commentform.as_p}}</strong>
                  <button type="submit" class="btn btn-dark my-2">
                    Enviar
                  </button>
                </form>

                <div
                  class="container"
                  style="max-height: 300px; overflow-y: auto"
                >
                  {% for comment in comments %}
                  <div class="card my-2">
                    <div class="card-header">
                      <div class="row">
                        <div class="col-sm-11 d-flex justify-content-between">
                          <strong> {{comment.user.username}} </strong>
                          {{comment.created_at|date:"H:i d/m/y"}}
                        </div>
                        <div class="col-sm-1">
                          {% if request.user.username == 'administrador' %}
                          <a href="{% url 'deletecomment' comment.id %}" class="btn text-decoration-none btn-danger">
                            <ion-icon name="trash-outline"></ion-icon>
                          </a>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <p>{{comment.comentario}}</p>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Script Bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- IONicons-->
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
