@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --PRIMARY: #2682b4;
  --WHITE: #fff;
  --GREY: #777;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.containe {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--PRIMARY);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 90px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
  background: var(--WHITE);
}

.navigation ul li:nth-child(1) {
  margin-top: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--WHITE);
}

.navigation ul li:hover a {
  color: var(--PRIMARY);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.5rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 30px 30px 0 10px var(--WHITE);
  pointer-events: none;
}

.navigation ul li:hover a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 30px -30px 0 10px var(--WHITE);
  pointer-events: none;
}

.main {
  position: absolute;
  width: calc(100%-300px);
  left: 300px;
  min-height: 100vh;
  background: var(--WHITE);
  transition: 0.5s;
}

.main.active {
  width: calc(100%-90px);
  left: 90px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.option {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

.option a {
  text-decoration: none;
  background: var(--WHITE);
}

.option .optionadd {
  position: relative;
  background: var(--WHITE);
  padding: 15px;
  border-radius: 20px;
  border: 1px solid var(--GREY);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.option .optionadd .iconoption {
  position: relative;
  font-size: 1.5rem;
}

.option .optionadd .optionname {
  color: var(--GREY);
  font-size: 1rem;
  margin-left: 10px;
  margin-top: 3px;
}

.option .optionadd:hover {
  background: var(--PRIMARY);
}

.option .optionadd:hover .iconoption,
.option .optionadd:hover .optionname {
  color: var(--WHITE);
}
