@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --PRIMARY: #2682b4;
  --WHITE: #fff;
  --GREY: #777;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.option {
  position: relative;
  width: 100%;
  padding: 20px;
}

.option a {
  text-decoration: none;
  background: var(--WHITE);
}

.option .optionadd {
  position: relative;
  background: var(--WHITE);
  width: 170px;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  border: 1px solid var(--GREY);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.option .optionadd .iconoption {
  position: relative;
  font-size: 20px;
}

.option .optionadd .optionname {
  color: var(--GREY);
  font-size: 20px;
  margin-left: 25px;
}

.option .optionadd:hover {
  background: var(--PRIMARY);
}

.option .optionadd:hover .iconoption,
.option .optionadd:hover .optionname {
  color: var(--WHITE);
}

.adduser {
  position: relative;
}

.users {
  position: relative;
  width: 300px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin-top: 5px;
}

.users .recentusers {
  position: relative;
  display: grid;
  min-height: 200px;
  background: var(--WHITE);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.users .userHeader {
  display: flex;
  justify-content: space-between;
}
