:root {
  --PRIMARY: #2682b4;
  --WHITE: #fff;
  --GREY: #777;
  --SinEjecutar: #808080;
  --Aprobado: #4caf50;
  --Bloqueado: #ffeb3b;
  --Retesteado: #ff9800;
  --FALLIDO: #f44336;
}

* {
  padding: 0;
  margin: 0;
}

.scroll {
  overflow: scroll;
}

.fixed-elemnt {
  position: fixed;
  top: 10px;
  left: 10px;
}
