* {
  padding: 0;
  margin: 0;
}

.scroll {
  overflow: scroll;
}

.fixed-elemnt {
  position: fixed;
  top: 10px;
  left: 10px;
}

.bg-gray {
  background-color: #808080;
}
.bg-success {
  background-color: #4caf50;
}
.bg-warning {
  background-color: #ffeb3b;
}
.bg-orange {
  background-color: #ff9800;
}
.bg-danger {
  background-color: #f44336;
}
